body {
    font-family: 'Rubik', sans-serif !important;
}
a{
    text-decoration: none;
}
.bp-header__logo {
    display: block;
    width: 120px;
    max-width: 100%;
    object-fit: contain;
}
.bg-teal {
    background-color: #147D94;
}
.bg-teal:hover{
    background-color: #7FBCC7;
}
.border-teal{
    border-color: #147D94;
}
.section-bg{
    background-color: #F1F2F4;
}
.main-bg-color{
    background-color: #EFF0ED;
}
.text-color{
    color: #233940;
}
.content-image{
    width: 100%;
    height: 50vh;
}
li a:hover{
    color: #147D94;
}
li a.active {
    font-weight: bold;
    color:white;
    background-color: #147D94;
    padding:.5rem 1.5rem; 
    text-decoration: none;
    margin-right: 20px;
    border-radius: 5px;
}
li a.active:hover{
    color:white;
    background-color: #7FBCC7;
    text-decoration: none;
}
.navs{
    position: absolute;
    top:0;
    left:0;
    z-index: 9;
    display: flex;
    align-items: center;
    min-height: 80px;
    background-color: transparent;
}
.navs-bar{
    position: absolute;
    top:0;
    left:0;
    z-index: 9;
    display: flex;
    align-items: center;
    min-height: 80px;
    background-color: #EFF0ED;
}
.nav-scroll{
    background: #fff;
    border-bottom: 1px solid rgba(12, 12, 12, 0.04);
    padding: 0;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}