a{
    text-decoration: none;
}
.bp-header__logo {
    display: block;
    width: 120px;
    max-width: 100%;
    object-fit: contain;
}
.bg-teal {
    background-color: #147D94;
}
.bg-teal:hover{
    background-color: #7FBCC7;
}
.border-teal{
    border-color: #147D94;
}
.section-bg{
    background-color: #F1F2F4;
}
.main-bg-color{
    background-color: #EFF0ED;
}
.text-color{
    color: #233940;
}
.content-image{
    width: 100%;
    height: 50vh;
}