<div class="flex flex-wrap -m-4">
    {% for solution in data.widget.solutions %}
    {% set srcset = apos.image.srcset(solution.image) %}
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <div class="my-2">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-center">
                {{solution.category}}
            </h2>
        </div>
        <a class="block relative rounded overflow-hidden" href="/">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" srcset="{{ srcset }}"
                src="{{ apos.attachment.url(solution.image) }}" style="height: 25vh">
        </a>
    </div>
    {% endfor %}
</div>