<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% for hero in data.widget.heroSection %}
        {% set srcset = apos.image.srcset(hero.image) %}
        <div class="swiper-slide">
            <img srcset=" {{ srcset }}" src="{{ apos.attachment.url(hero.image) }}" alt="hero-image"
                class="d-block w-full h-screen object-center object-cover" alt="">
            <div class="carousel-captions d-md-block">
                <h1 class="sm:text-5xl text-3xl text-white uppercase font-medium tracking-widest">
                    {{hero.title}}</h1>
                <p class="mt-6 sm:text-3xl text-xl text-color ">
                    {{hero.subTitle}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>