{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block extraHead %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<!-- tailwindcss-->
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block extraBody %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
  var nav = document.querySelector('nav');
  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 100) {
      nav.classList.add('bg-white', 'shadow', 'scroll-nav');
    } else {
      nav.classList.remove('bg-white', 'shadow', 'scroll-nav')
    }
  });
</script>
<script>
  const currentLocation = location.href;
  const menuItem = document.querySelectorAll('nav a')
  const menuLength = menuItem.length;
  for (var i = 0; i < menuLength; i++) {
    if (menuItem[i].href === currentLocation) {
      menuItem[i].className = "active";
    }
  }
</script>
{% endblock %}


{% set title = data.piece.title or data.page.title %}
{% block title %}
{{ title }}
{% if not title %}
{{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
{% endif %}
{% endblock %}

{% block beforeMain %}
<div>

  <main class="bp-main">
    {% endblock %}

    {% block main %}
    {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
    {% endblock %}

    {% block afterMain %}
  </main>

  <footer class="text-gray-600 main-bg-color">
    <div
      class="container py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto">
        <a href="/" class="">
          <img class="bp-header__logo" src="/images/payrallel-logo.png" alt="Payrallel logo">
        </a>
        <p class="text-sm text-gray-500 ">A universe of payments unlocked.</p>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">
            <a href="/" class="text-gray-900 no-underline">
              Home
            </a>
          </h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Blog</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Our Clients</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Merchant Login</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Developer Resource</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Solutions</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">For Brick and Mortar</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">For E-commerce</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">For Unattended Retail</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Bespoke solutions</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Industries We Serve</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Food & Beverages</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">E-Commerce</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Brick & Mortar Retail</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Unattended Retail</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Why Payrallel</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Transparent Pricing</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Fuss-free Set-up</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Omnichannel Solutions</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800 no-underline">Converged Convenience</a>
            </li>
          </nav>
        </div>
      </div>
    </div>

    <div class="border-t border-gray-200">
      <div class="flex flex-col items-center justify-center py-24">
        <div class="flex flex-wrap">
          <a class="text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
              viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
              viewBox="0 0 24 24">
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
              </path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </div>
        <p class="text-sm text-gray-500 mt-2 text-center">
          © Payrallel 2022
        </p>
      </div>
    </div>
  </footer>
</div>
{% endblock %}