<div class="flex flex-wrap -m-4">
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden" href="/">
            {% area data.widget, 'imgColumnOne' %}
        </a>
        <div class="mt-3">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-center">Food & Beverages</h2>
        </div>
    </div>
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden" href="/">
            {% area data.widget, 'imgColumnTwo' %}
        </a>
        <div class="mt-3">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-center">E-Commerce</h2>
        </div>
    </div>
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden" href="/">
            {% area data.widget, 'imgColumnThree' %}
        </a>
        <div class="mt-3">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-center">Brick & Mortar Retail</h2>
        </div>
    </div>
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden" href="/">
            {% area data.widget, 'imgColumnFour' %}
        </a>
        <div class="mt-3">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-center">Unattended Retail</h2>
        </div>
    </div>
</div>