<div class="flex flex-wrap -m-4">
    <div class="xl:w-1/4 md:w-1/2 sm:w-full w-full">
        <div class="p-6 hover:bg-sky-700 cursor-pointer"
            style="background-image: url('/images/Food and Beverages.jpg'); background-size: cover; height: 80vh;">
            <a class="mb-4 font-bold text-white title-font no-underline text-lg cursor-pointer hover-white"
                href="/">Food & Beverages
            </a>
        </div>
    </div>
    <div class="xl:w-1/4 md:w-1/2 sm:w-full w-full">
        <div class="p-6" style="background-image: url('/images/image-1.jpg'); background-size: cover; height: 80vh;">
            <a class="mb-4 font-bold text-white title-font no-underline text-lg cursor-pointer hover-white"
                href="/">Brick & Mortar Retail
            </a>
        </div>
    </div>
    <div class="xl:w-1/4 md:w-1/2 sm:w-full w-full">
        <div class="p-6" style="background-image: url('/images/image-2.jpg'); background-size: cover; height: 80vh;">
            <a class="mb-4 font-bold text-white title-font no-underline text-lg cursor-pointer hover-white"
                href="/">E-Commerce
            </a>
        </div>
    </div>
    <div class="xl:w-1/4 md:w-1/2 sm:w-full w-full">
        <div class="p-6 "
            style="background-image: url('/images/Unattended.jpg'); background-size: cover; height: 80vh;">
            <a class="mb-4 font-bold text-white title-font no-underline text-lg cursor-pointer hover-white"
                href="/">Unattended Retail
            </a>
        </div>
    </div>
</div>