{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
<section class="home-page">
  {% area data.page, 'main' %}
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 bg-gray-100 text-center py-16">Solutions
  </h1>
  <section class="solution-section">
    <div class="px-5 pb-16 pt-8 mx-auto">
      {% area data.page, 'solutions' %}
    </div>
  </section>
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 bg-gray-100 text-center py-16">Industries we
    serve</h1>
  <section class="solution-section">
    <div class="px-5 pb-16 pt-8 mx-auto">
      {% area data.page, 'industries' %}
    </div>
  </section>


</section>

{% endblock %}