{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
<section class="home-page">
  <!-- hero section -->
  <header>


    <!-- <div class="w-full bg-cover h-screen bg-no-repeat flex justify-center"
      style="background-image: url('/images/hero-image.jpg');">
      <div class="flex flex-col items-center justify-center px-9 text-center">
        <h1 class="sm:text-5xl text-5xl text-white uppercase font-light tracking-widest">Payrallel</h1>
        <p class="mt-3 sm:text-3xl text-3xl text-color ">A Universe of Payments Unlocked.</p>
      </div>
    </div> -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active h-screen bg-no-repeat bg-cover" style="min-height:300px ;">
          <img src="/images/hero-image.jpg" class="d-block w-100 h-screen object-center object-cover" alt="">
          <div class="carousel-captions d-md-block">
            <h1
              class="animate__animated animate__zoomIn animate__slow animate__delay-1s sm:text-5xl text-3xl text-white uppercase font-light tracking-widest">
              Payrallel</h1>
            <p
              class="animate__animated animate__fadeInLeft animate__slow animate__delay-2s mt-3 sm:text-3xl text-xl text-color ">
              A Universe of Payments Unlocked.</p>
          </div>
        </div>
        <div class="carousel-item h-screen bg-no-repeat bg-cover" style="min-height:300px ;">
          <img src="/images/hero-image-2.jpg" class="d-block w-100 h-screen object-center object-cover" alt="">
          <div class="carousel-captions d-md-block">
            <h1
              class="animate__animated animate__slideInUp animate__slow animate__delay-1s sm:text-5xl text-3xl text-white uppercase font-light tracking-widest">
              Payrallel</h1>
            <p
              class="animate__animated animate__fadeInLeft animate__slow animate__delay-2s mt-3 sm:text-3xl text-xl text-color ">
              A Universe of Payments Unlocked.</p>
          </div>
        </div>
        <div class="carousel-item h-screen bg-no-repeat bg-cover" style="min-height:300px ;">
          <img src="/images/hero-image-3.jpg" class="d-block w-100 h-screen object-center object-cover" alt="">
          <div class="carousel-captions d-md-block">
            <h1
              class="animate__animated animate__backInDown animate__slow animate__delay-1s sm:text-5xl text-3xl text-white uppercase font-light tracking-widest">
              Payrallel</h1>
            <p
              class="animate__animated animate__fadeInLeft animate__slow animate__delay-2s mt-3 sm:text-3xl text-xl text-color ">
              A Universe of Payments Unlocked.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </header>

  <!-- About Us section -->
  <section class="bg-gray">
    <div class="container px-5 py-28 mx-auto">
      <div class="flex flex-col text-center w-full mb-10">
        <div class="section-head text-center">
          <h6
            class="wow animate__animated animate__zoomIn relative sm:text-base md:text-lg md:text-lg font-medium title-font text-color text-center font-bold mb-3 uppercase text-sm"
            data-wow-duration="2s">
            <span class="gray ">About Us</span>
          </h6>
        </div>
        <h2
          class="wow animate__animated animate__slideInUp sm:text-base text-sm font-medium title-font text-color text-center text-black font-bold"
          data-wow-duration="2s">
          What is Payrallel ?
        </h2>
        <p class="lg:w-2/3 mx-auto leading-relaxed sm:text-base text-sm py-8">Lorem ipsum dolor sit amet, consectetur
          adipiscing
          elit.
          Integer eget vehicula risus. Cras non lectus
          scelerisque, pharetra ex sit amet, volutpat sem. Duis aliquam sem quis sapien sodales accumsan. Cras molestie
          dapibus tellus. Ut pellentesque ullamcorper nunc, Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Integer eget vehicula risus.</p>
      </div>
      <div
        class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6 wow animate__animated animate__fadeInRight"
        data-wow-duration="2s" data-wow-delay="2s">
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-40 h-40 inline-flex items-center justify-center rounded-full bg-gray text-color flex-shrink-0">
            <img src="/images/icon-1.png">
          </div>
          <div class="flex justify-center mb-3">
            <div class="w-12 h-0.5 rounded-full bg-teal inline-flex"></div>
          </div>
          <div class="flex-grow">
            <h2 class="text-color sm:text-lg text-base title-font font-medium mb-3 font-semibold">Payrallel</h2>
            <p class="leading-relaxed sm:text-base text-sm text-center">Lorem ipsum dolor sit amet, consectetur
              adipiscing
              elit.
              Integer eget vehicula risus.</p>
          </div>
        </div>
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-40 h-40 inline-flex items-center justify-center rounded-full bg-gray text-color flex-shrink-0">
            <img src="/images/icon-2.png">
          </div>
          <div class="flex justify-center mb-3">
            <div class="w-12 h-0.5 rounded-full bg-teal inline-flex"></div>
          </div>
          <div class="flex-grow">
            <h2 class="text-color sm:text-lg text-base title-font font-medium mb-3 font-semibold">Payrallel</h2>
            <p class="leading-relaxed sm:text-base text-sm text-center">Lorem ipsum dolor sit amet, consectetur
              adipiscing
              elit.
              Integer eget vehicula risus.</p>
          </div>
        </div>
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-40 h-40 inline-flex items-center justify-center rounded-full bg-gray text-color flex-shrink-0">
            <img src="/images/icon-3.png">
          </div>
          <div class="flex justify-center mb-3">
            <div class="w-12 h-0.5 rounded-full bg-teal inline-flex"></div>
          </div>
          <div class="flex-grow">
            <h2 class="text-color sm:text-lg text-base title-font font-medium mb-3 font-semibold">Payrallel</h2>
            <p class="leading-relaxed sm:text-base text-sm text-center">Lorem ipsum dolor sit amet, consectetur
              adipiscing
              elit.
              Integer eget vehicula risus.</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Solutions section -->
  <section class="bg-navy">
    <div class="container px-5 py-28 mx-auto">
      <div class="flex flex-col text-center w-full mb-10">
        <div class="section-head text-center">
          <h6
            class="wow animate__animated animate__zoomIn relative sm:text-base md:text-lg font-medium title-font text-color text-center font-bold mb-3 uppercase text-sm"
            data-wow-duration="2s">
            <span class="navy">Solutions</span>
          </h6>
        </div>
        <h2
          class="wow animate__animated animate__slideInUp sm:text-base text-sm font-medium title-font text-white text-center font-bold"
          data-wow-duration="2s">
          Our solutions
        </h2>
      </div>
      {% area data.page, 'solutions' %}
    </div>
  </section>

  <!-- Industries we serve section -->
  <section class="bg-navy">
    <div class="container px-5 py-28 mx-auto">
      <div class="flex flex-col w-full mb-10">
        <div class="section-head text-center">
          <h6
            class="wow animate__animated animate__zoomIn relative sm:text-base md:text-lg font-medium title-font text-color font-bold mb-3 uppercase flex text-sm"
            data-wow-duration="2s">
            <span class="navy sm:text-left">Industries We Serve</span>
          </h6>
        </div>
      </div>
    </div>
    {% area data.page, 'industries' %}
  </section>

  <!-- Our Clients section -->
  <section class="bg-navy">
    <div class="container px-5 py-28 mx-auto">
      <div class="flex flex-col text-center w-full mb-10">
        <div class="section-head text-center">
          <h6
            class="wow animate__animated animate__zoomIn relative sm:text-base md:text-lg font-medium title-font text-color text-center font-bold mb-3 uppercase text-sm"
            data-wow-duration="2s">
            <span class="navy">Our clients</span>
          </h6>
        </div>
      </div>
      <section class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="card bg-white">
                <img src="/images/clients.png" class="object-center object-cover" alt="" style="min-height: 300px;">
              </div>
            </li>
            <li class="splide__slide">
              <div class="card bg-white">
                <img src="/images/clients.png" class="object-center object-cover" alt="" style="min-height: 300px;">
              </div>
            </li>
            <li class="splide__slide">
              <div class="card bg-white">
                <img src="/images/clients.png" class="object-center object-cover" alt="" style="min-height: 300px;">
              </div>
            </li>
            <li class="splide__slide">
              <div class="card bg-white">
                <img src="/images/clients.png" class="object-center object-cover" alt="" style="min-height: 300px;">
              </div>
            </li>
            <li class="splide__slide">
              <div class="card bg-white">
                <img src="/images/clients.png" class="object-center object-cover" alt="" style="min-height: 300px;">
              </div>
            </li>
            <li class="splide__slide">
              <div class="card bg-white">
                <img src="/images/clients.png" class="object-center object-cover" alt="" style="min-height: 300px;">
              </div>
            </li>
            <li class="splide__slide">
              <div class="card bg-white">
                <img src="/images/clients.png" class="object-center object-cover" alt="" style="min-height: 300px;">
              </div>
            </li>
            <li class="splide__slide">
              <div class="card bg-white">
                <img src="/images/clients.png" class="object-center object-cover" alt="" style="min-height: 300px;">
              </div>
            </li>
            <li class="splide__slide">
              <div class="card bg-white">
                <img src="/images/clients.png" class="object-center object-cover" alt="" style="min-height: 300px;">
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </section>
  <!-- {% area data.page, 'ourClients' %} -->


  <!-- Supported payments type section -->
  <section class="bg-gray">
    <div class="container px-5 py-28 mx-auto">
      <div class="flex flex-col w-full mb-10">
        <div class="section-head text-center">
          <h6
            class="wow animate__animated animate__zoomIn relative sm:text-base md:text-lg font-medium title-font text-color font-bold mb-3 uppercase text-center text-sm"
            data-wow-duration="2s">
            <span class="gray">Supported Payments Type</span>
          </h6>
        </div>
      </div>
      {% area data.page, 'payments' %}
    </div>
  </section>

  <!-- Why payrallel section -->
  <section class="bg-navy">
    <div class="container px-5 py-28 mx-auto">
      <div class="flex flex-col text-center w-full mb-10">
        <div class="section-head text-center">
          <h6
            class="wow animate__animated animate__zoomIn relative sm:text-base md:text-lg font-medium title-font text-color text-center font-bold mb-3 uppercase text-sm"
            data-wow-duration="2s">
            <span class="navy">Why Payrallel</span>
          </h6>
        </div>
        <h2
          class="wow animate__animated animate__slideInUp sm:text-base text-sm font-medium title-font text-center text-white font-bold"
          data-wow-duration="2s">
          Why payrallel ?
        </h2>
      </div>
      {% area data.page, 'whyPayrallel' %}
    </div>
  </section>



</section>
{% endblock %}