{% for payment in data.widget.payments %}
<div class="-my-8 divide-y-2 divide-gray-100 mt-10">
    <div class="py-8 flex lg:flex-row flex-col justify-center lg:items-start items-center">
        <div
            class="w-1/3 lg:mb-0 mb-16 flex-shrink-0 flex flex-col lg:justify-start lg:items-start items-center justify-center">
            <span class="font-semibold title-font text-gray-700 lg:text-2xl text-xl">{{payment.title}}</span>
            <div class="flex mt-3 md:justify-start justify-center">
                <div class="w-28 h-0.5 rounded-full bg-blue inline-flex"></div>
            </div>
        </div>
        <div class="md:flex-grow">
            <div class="flex flex-wrap -m-4  items-center justify-center">
                {% for logo in payment.logoImages %}
                {% set srcset = apos.image.srcset(logo.image) %}
                <div class="p-1 flex flex-wrap sm:w-1/4 w-1/2 items-center justify-center">
                    <img alt="logo-image"
                        class="sm:w-28 sm:h-28 w-20 h-20 mb-6 object-contain object-center inline-block"
                        srcset="{{ srcset }}" src="{{ apos.attachment.url(logo.image) }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}