<section class="text-gray-600 overflow-hidden px-12">
    <div class="mx-auto py-10">
        <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex md:flex-row md:flex-nowrap flex-col items-center justify-center">
                <div class="md:w-2/5 md:mb-0 mb-6 flex-shrink-0 flex flex-col items-center justify-center">
                    <span class="font-semibold title-font text-gray-700 text-3xl text-center">Debit and Credit
                        Cards</span>
                </div>
                <div class="flex flex-wrap -m-4">
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoOne' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoTwo' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4  p-4 w-full">
                        <a class="block relative  rounded overflow-hidden">
                            {% area data.widget, 'logoThree' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative  rounded overflow-hidden">
                            {% area data.widget, 'logoFour' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative  rounded overflow-hidden">
                            {% area data.widget, 'logoFive' %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="py-8 flex md:flex-row md:flex-nowrap flex-col md:items-center">
                <div class="md:w-2/5 md:mb-0 mb-6 flex-shrink-0 flex flex-col items-center justify-center">
                    <span class="font-semibold title-font text-gray-700 text-3xl text-center">Mobile and NFC Payments
                    </span>
                </div>
                <div class="flex flex-wrap -m-4">
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoOne' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoTwo' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4  p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoThree' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoFour' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoFive' %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="py-8 flex md:flex-row md:flex-nowrap flex-col md:items-center">
                <div class="md:w-2/5 md:mb-0 mb-6 flex-shrink-0 flex flex-col items-center justify-center">
                    <span class="font-semibold title-font text-gray-700 text-3xl text-center">Static and Dynamic QR
                        Codes
                    </span>
                </div>
                <div class="flex flex-wrap -m-4">
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoOne' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative  rounded overflow-hidden">
                            {% area data.widget, 'logoTwo' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4  p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoThree' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoFour' %}
                        </a>
                    </div>
                    <div class="lg:w-1/6 md:w-1/4 p-4 w-full">
                        <a class="block relative rounded overflow-hidden">
                            {% area data.widget, 'logoFive' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>