<h1 class="sm:text-4xl text-3xl text-gray-700 font-bold text-center mb-5">Have a Question? Let's Talk.</h1>
<div class="flex flex-wrap -m-4 items-stretch">
    {% for contact in data.widget.contacts %}
    {% set srcset = apos.image.srcset(contact.image) %}
    <div class="xl:w-1/3 md:w-1/2 p-4 ">
        <div class="contact-us-card">
            <div class="slide slide1">
                <div class="content">
                    <div class="icon">
                        <img class=" w-14 h-14 object-cover object-center" srcset="{{ srcset }}"
                            src="{{ apos.attachment.url(contact.image) }}" alt="contact-icon">
                    </div>
                </div>
            </div>
            <div class="slide slide2">
                <div class="content">
                    <h3>
                        {{contact.title}}
                    </h3>
                    <p>{{contact.description}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>