<div class="flex flex-wrap -m-4 py-20 justify-center">
    <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center sm:text-left">
            <img alt="unattended retail" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0"
                src="/images/image-1.jpg">
            <div class="flex-grow sm:pl-10">
                <h2 class="title-font font-medium text-lg text-white font-bold">For Mortar
                    and Brick Retail</h2>
                <p class="mb-4 text-white text-base w-3/4 text-justify">Lorem ipsum dolor sit amet, consectetur
                    adipiscing
                    elit. Integer
                    eget
                    vehicula risus. Cras non lectus scelerisque, pharetra ex sit amet, volutpat sem.
                </p>
                <div class="flex">
                    <div class="w-28 h-0.5 rounded-full bg-blue inline-flex"></div>
                </div>
                <a class="mt-2 text-color-2 inline-flex items-center font-bold no-underline">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center sm:text-left">
            <img alt="unattended retail" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0"
                src="/images/image-3.jpg">
            <div class="flex-grow sm:pl-10">
                <h2 class="title-font font-medium text-lg text-white font-bold">For Unattended Retail</h2>
                <p class="mb-4 text-white text-base w-3/4 text-justify">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Integer
                    eget
                    vehicula risus. Cras non lectus scelerisque, pharetra ex sit amet, volutpat sem.
                </p>
                <div class="flex">
                    <div class="w-28 h-0.5 rounded-full bg-blue inline-flex"></div>
                </div>
                <a class="mt-2 text-color-2 inline-flex items-center font-bold no-underline">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center sm:text-left">
            <img alt="e-commerce" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0"
                src="/images/image-2.jpg">
            <div class="flex-grow sm:pl-10">
                <h2 class="title-font font-medium text-lg text-white font-bold">For E-Commerce</h2>
                <p class="mb-4 text-white text-base w-3/4 text-justify">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Integer
                    eget
                    vehicula risus. Cras non lectus scelerisque, pharetra ex sit amet, volutpat sem.
                </p>
                <div class="flex">
                    <div class="w-28 h-0.5 rounded-full bg-blue inline-flex"></div>
                </div>
                <a class="mt-2 text-color-2 inline-flex items-center font-bold no-underline">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center sm:text-left">
            <img alt="bespoke solutions" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0"
                src="/images/image-4.jpg">
            <div class="flex-grow sm:pl-10">
                <h2 class="title-font font-medium text-lg text-white font-bold">Bespoke Solutions</h2>
                <p class="mb-4 text-white text-base w-3/4 text-justify">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Integer
                    eget
                    vehicula risus. Cras non lectus scelerisque, pharetra ex sit amet, volutpat sem.
                </p>
                <div class="flex">
                    <div class="w-28 h-0.5 rounded-full bg-blue inline-flex"></div>
                </div>
                <a class="mt-2 text-color-2 inline-flex items-center font-bold no-underline">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>