<div class="flex flex-wrap -m-4 py-20 justify-center">
    <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 md:h-auto object-cover object-center sm:mb-0"
                src="https://dummyimage.com/200x200">
            <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg text-white">For Mortar
                    and Brick Retail</h2>
                <p class="mb-4 text-white text-base">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Integer
                    eget
                    vehicula risus. Cras non lectus scelerisque, pharetra ex sit amet, volutpat sem.
                </p>
                <div class="flex">
                    <div class="w-28 h-1 rounded-full bg-teal inline-flex"></div>
                </div>
                <a class="mt-2 text-color inline-flex items-center font-bold no-underline">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0"
                src="https://dummyimage.com/201x201">
            <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg text-white">For Unattended Retail</h2>
                <p class="mb-4 text-white text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    eget
                    vehicula risus. Cras non lectus scelerisque, pharetra ex sit amet, volutpat sem.
                </p>
                <div class="flex">
                    <div class="w-28 h-1 rounded-full bg-teal inline-flex"></div>
                </div>
                <a class="mt-2 text-color inline-flex items-center font-bold no-underline">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0"
                src="https://dummyimage.com/204x204">
            <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg text-white">For E-Commerce</h2>
                <p class="mb-4 text-white text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    eget
                    vehicula risus. Cras non lectus scelerisque, pharetra ex sit amet, volutpat sem.
                </p>
                <div class="flex">
                    <div class="w-28 h-1 rounded-full bg-teal inline-flex"></div>
                </div>
                <a class="mt-2 text-color inline-flex items-center font-bold no-underline">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0"
                src="https://dummyimage.com/206x206">
            <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg text-white">Bespoke Solutions</h2>
                <p class="mb-4 text-white text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    eget
                    vehicula risus. Cras non lectus scelerisque, pharetra ex sit amet, volutpat sem.
                </p>
                <div class="flex">
                    <div class="w-28 h-1 rounded-full bg-teal inline-flex"></div>
                </div>
                <a class="mt-2 text-color inline-flex items-center font-bold no-underline">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>