<div class="flex flex-wrap -m-4">
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <div class="my-2">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-center">
                {% area data.widget, 'category1' %}
            </h2>
        </div>
        <a class="block relative rounded overflow-hidden" href="/">
            {% area data.widget, 'imgOne' %}
        </a>
    </div>
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <div class="my-2">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-center">
                {% area data.widget, 'category2' %}
            </h2>
        </div>
        <a class="block relative rounded overflow-hidden" href="/">
            {% area data.widget, 'imgTwo' %}
        </a>
    </div>
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <div class="my-2">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-center">
                {% area data.widget, 'category3' %}
            </h2>
        </div>
        <a class="block relative rounded overflow-hidden" href="/">
            {% area data.widget, 'imgThree' %}
        </a>
    </div>
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <div class="my-2">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3 text-center">
                {% area data.widget, 'category4' %}
            </h2>
        </div>
        <a class="block relative rounded overflow-hidden" href="/">
            {% area data.widget, 'imgFour' %}
        </a>
    </div>
</div>