<section class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
        <ul class="splide__list">
            {% for client in data.widget.clients %}
            {% set srcset = apos.image.srcset(client.image) %}
            <li class="splide__slide">
                <div class="">
                    <img srcset="{{ srcset }}" src="{{ apos.attachment.url(client.image) }}"
                        class="object-center object-cover" alt="" style="min-height: 300px;">
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>