<div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
    <div class="flex-grow md:pl-8 flex items-center flex-col sm:flex-row text-center ">
        <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
            <img alt="" class="w-24 h-24 object-cover object-center" src="/images/pricing.png">
        </div>
        <div class="flex-grow sm:pl-16 mt-6 sm:mt-0 text-center ">
            <h2 class="font-medium title-font text-white mb-1 sm:text-xl text-lg font-bold sm:text-left">Transparent
                Pricing</h2>
            <p class="leading-relaxed text-white sm:text-left sm:text-base text-sm">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Integer eget
                vehicula risus. Cras non lectus scelerisque, pharetra ex sit amet, volutpat sem.</p>
        </div>
    </div>
</div>
<div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
    <div class="flex-grow md:pl-8 flex items-center flex-col sm:flex-row">
        <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
            <img alt="" class="w-24 h-24 object-cover object-center" src="/images/simple.png">
        </div>
        <div class="flex-grow sm:pl-16 mt-6 sm:mt-0 text-center sm:justify-start justify-center">
            <h2 class="font-medium title-font text-white mb-1 sm:text-xl text-lg font-bold  sm:text-left">Fuss-Free
                Set-Up</h2>
            <p class="leading-relaxed text-white  sm:text-left sm:text-base text-sm">Simple onboarding process
            </p>
        </div>
    </div>
</div>
<div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
    <div class="flex-grow md:pl-8 flex items-center flex-col sm:flex-row text-center ">
        <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
            <img alt="" class="w-24 h-24 object-cover object-center" src="/images/omnichannel.png">
        </div>
        <div class="flex-grow sm:pl-16 mt-6 sm:mt-0  text-center ">
            <h2 class="font-medium title-font text-white mb-1 sm:text-xl text-lg font-bold sm:text-left">Omnichannel
                solutions
            </h2>
            <p class="leading-relaxed text-white sm:text-left sm:text-base text-sm">Unattended, attended, and e-commerce
                - all our merchants
                can enjoy an
                all-in-one omnichannel solution from Payrallel.
            </p>
        </div>
    </div>
</div>
<div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
    <div class="flex-grow md:pl-8 flex items-center flex-col sm:flex-row text-center ">
        <div class="flex-shrink-0 w-24 h-24 rounded-full inline-flex items-center justify-center">
            <img alt="" class="w-24 h-24 object-cover object-center" src="/images/converge.png">
        </div>
        <div class="flex-grow sm:pl-16 mt-6 sm:mt-0  text-center ">
            <h2 class="font-medium title-font text-white mb-1 sm:text-xl text-lg font-bold sm:text-left">Converged
                convenience
            </h2>
            <p class="leading-relaxed text-white sm:text-left sm:text-base text-sm">We integrate popular payment schemes
                into a single
                platform. Whether
                it be card, QR code, or mobile wallet payments, we've got you covered.
            </p>
        </div>
    </div>
</div>